.landing-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .header{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 20px 100px;
        z-index: 9999999999999999999;
        transition: 0.5s ease-in-out;
        .logo{
            font-family: Bold;
            color: $black;
           
        }
        .icon{
           @include flexcenter(column);
           gap: 2px; 
           cursor: pointer;
           span{
               width: 20px;
               height: 1.3px;
               background: $black;
           }
        }

        .menu{
            width: 200px;
            max-height: 0;
            position: absolute;
            right: 100px;
            top: 50px;
            background: white;
            transition: 0.3s ease-in;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $shadow;
            ul {
                a{
                    text-decoration: none;
                    li{
                        list-style: none;
                        margin-bottom: 10px;
                        font-family: Regular;
                        color: $black;
                    }
                    &:last-child{
                        li{
                            margin: 0;
                        }
                    }
                

                }
            } 
        }
        .show-menu{
            max-height: 300px;
            padding: 20px 0;
        }
        .burger-open{

            span:nth-child(2){
                opacity: 0;
            }
            span:first-child{
                position: absolute;
                transform: rotate(45deg);
            }
            span:last-child{
                position: absolute;
                transform: rotate(-45deg);
            }
        }

        @media (max-width:1230px) {
            padding: 20px 70px;
        }
        @media (max-width:1050px) {
            padding: 20px 50px;
        }
       

    }
    @media (max-width:750px) {
        grid-template-columns: 1fr;
    }


    .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left:100px ;
        @media (max-width:750px) {
            width: 100%;
            position: absolute;
            bottom: 0;
            background:rgba(0, 0, 0, 0.5);
            padding: 20px;
        }
        .position{
            font-family: Bold;
            color: $primary;
        }
        .name{
            font-family: Bold;
            font-size: 80px;
            line-height: 1.2;
            @media (max-width:1000px) {
                font-size: 50px;
            }
            @media (max-width:750px) {
                color: white;
            }
        }
        .buttons{

                a{
                    button{
                    padding: 16px 24px;
                    background-color: $primary;
                    color: white;
                    font-family: Medium;
                    border: none;
                    box-shadow:  0 24px 36px -11px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    }
                    &:last-child{
                        button{
                            background-color: white;
                            color: $black;

                        }
                       
                    }
                }

            }
           
        
        @media (max-width:1230px){
            padding-left: 70 px;
        }
        @media (max-width:1050px){
            padding-left: 50 px;
        }

    }
    .right{
        background-color: $primary;
        overflow: hidden;
        img{
            display: block;
            margin: auto;
            height: 100%;
        }
    }
}