$primary:#d5c455;
$black:#222222;
$shadow:8px 25px 28px-9px rgba(0,0,0,0.09);

$section-laptop: 40px 80px;
$section-tablet:20px 40px;
$section-phone:10px 20px;
@mixin flexcenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin sectionWrapper {
    width: 100%;
   min-height: 100vh;
    padding: $section-laptop;
    
}
html{
    scroll-behavior: smooth;
    
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: $primary;
    }
}
.section-title{
    
        font-family: Bold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
        @media (max-width:600px) {
            margin: 30px;
            font-size: 30px;
        }
    }

@import "fonts";
@import "landing-page";
@import "about-me";
@import "skills";
@import "project";
@import "contacts";